node_modules

bin
obj
.vs
.idea

.DS_Store
.vscode
.vscode-test
.editorconfig
.env
*.log
/assets/BaseCollection

assets/TestCollection/DSC02606.ARW

assets/TestCollection/DSC02658.ARW

assets/TestCollection/DSC02667.ARW

assets/TestCollection/DSC02759.ARW

assets/TestCollection/DSC02773.ARW

assets/TestCollection/DSC02774.ARW

assets/TestCollection/DSC02779.ARW

assets/TestCollection/DSC02823.ARW

assets/TestCollection/DSC02839.ARW

assets/TestCollection/DSC02847.ARW

assets/TestCollection/DSC02947.ARW

Modules/LuxFilter/LuxFilter.Algorithms/Algorithms/ColorVisualAesthetics/CLIPModel/negative.txt

Modules/LuxFilter/LuxFilter.Algorithms/Algorithms/ColorVisualAesthetics/CLIPModel/positive.txt
