resources:
  - ../../base
  - namespace.yaml
  - configmap-luxdb-init.yaml
  - ingress.yaml

namespace: luxstudio-pluto

patches:
  - path: patch-deployment-luxstudio.yaml
  - path: patch-deployment-luxapi.yaml

images:
  - name: luxoria/luxapi
    newTag: dev
  - name: luxoria/luxstudio
    newTag: dev
