name: Attach Artifacts to Release

on:
  release:
    types: [published]

jobs:
  exec-desktop-build:
    uses: ./.github/workflows/build-upload-lda.yml
    with:
      app_version: ${{ github.event.release.tag_name }}
  
  exec-modules-build:
    uses: ./.github/workflows/build-upload-standard-modules.yml

  upload-artifacts-to-release:
    needs: [exec-desktop-build, exec-modules-build]
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download only installer artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: LuxoriaSetup.*.exe
          path: ./artifacts_exe
          merge-multiple: true
      
      - name: List downloaded artifacts
        run: ls ./artifacts_exe
    
      - name: Upload installer file to Github Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.tag_name }}
          files: |
            ./artifacts_exe/LuxoriaSetup.x64.exe
            ./artifacts_exe/LuxoriaSetup.arm64.exe
            ./artifacts_exe/LuxoriaSetup.x86.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download all artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./artifacts
      
      - name: List downloaded artifacts
        run: ls ./artifacts

      - name: Create ZIP files for each artifact
        run: |
          for dir in ./artifacts/*; do
            if [ -d "$dir" ]; then
              zip -r "${dir}.zip" "$dir"
            fi
          done

      - name: Upload all artifacts to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.tag_name }}
          files: ./artifacts/*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
